.gradient-background {
    background: linear-gradient(300deg, #00ff95, #09009f);
    background-size: 180% 180%;
    animation: gradient-animation 10s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.pt-sans-bold {
    font-family: "PT Sans", serif;
    font-weight: 700;
    font-style: normal;
}

.rubik-light {
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.quicksand-light {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.quicksand-regular {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.text-primary {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
}


.text-gradient {
    background: -webkit-linear-gradient(45deg, #09009f, #00ff95 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.feature {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
}

h3,
.h3 {
    font-size: calc(1.3rem + 0.6vw);
}

.bg-gradient-primary-to-secondary {
    background: #1e30f3;
    background: linear-gradient(135deg, #09009f, #00ff95 100%);
}
